body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 75px);
}

nav{
  height: 75px;
}

.brand-logo{
  margin-left: 10px;
}

.sidebar-component{
  width: min(700px, 95%);
  height: calc(100vh - 95px);
  position: absolute;
  right: 0;
  top: 75px;
  background-color: #eee;
  z-index: 10000;
  margin: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

  animation: .3s linear show-sidebar;

  overflow: scroll;
  padding: 0 5px 50px 5px;
}

@keyframes show-sidebar {
  from{
    right: -30%;
    opacity: 0;
  }
  to{
    right: 0;
    opacity: 1;
  }
}

.sidebar-component__title{
  text-align: center;
}

.sidebar-component__subtitle{
  text-align: center;
  color: #777;
  font-size: 1.5em;
  text-transform: uppercase;
}

.sidebar-component__section-title{
  text-align: center;
}


.sidebar-component__close-button {
  margin:  20px 20px 0 auto;
  background-color: #ee6e73 !important;
  display: block;
}

.leaflet-bottom.leaflet-right > .leaflet-control-attribution.leaflet-control {
  visibility: hidden;
}

.sidebar-component__statistics__tabs_separator{
  border: none;
  width: 100%;
  height: 1px;
  background-color: #ddd;

  -webkit-box-shadow: 1px 1px 3px 0 rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 1px 3px 0 rgba(66, 68, 90, 1);
  box-shadow: 1px 1px 3px 0 rgba(66, 68, 90, 1);
}

.sidebar-component__statistics__tabs_title{
  display: block;
  text-transform: uppercase;
  background-color: #ee6e73;

  width: fit-content;
  margin: 20px auto 5px auto;
  padding: 10px;
  border-radius: 50px;
  color: #eee;
  font-weight: 600;
}


.sidebar-component__statistics__tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  margin: 10px 0;
  font-weight: 600;
}

.sidebar-component__statistics__tabs > *{
  display: block;
}

.sidebar-component__statistics__tabs a.active {
  background-color: rgba(246, 178, 181, 0.2) !important;
}

.error{
  background-color: #ee6e73;
  color: white;
  width: calc(100% - 30px);
  padding: 10px;
  text-align: center;
  margin: 25px 15px 15px 15px;

  -webkit-box-shadow: 4px 4px 12px 0 rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 4px 12px 0 rgba(66, 68, 90, 1);
  box-shadow: 4px 4px 12px 0 rgba(66, 68, 90, 1);
}